<div class="col-md-6 offset-md-3">
    
    <form (ngSubmit) = "onSubmit()" style="margin-top:60px ;">
    
       <div class="form-group">
            <label> id</label>
            
            
            <input type="text" class ="form-control" id = "_id"
                [(ngModel)] = "employee._id" name = "qty">
        </div>
    
        
    
        <div class="form-group">
           
            
            <label> id</label>
            <input type="text" class ="form-control" id = "orderId"
                [(ngModel)] = "employee.orderId" name = "qty">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 